<div class="blog-card">
  <div class="blog-card-header">
    {{blog_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Guest:
      {{user_name}}
    </p>
    {{#if for_sale}}
      <p class="for-sale">
        This is a SALE POST
      </p>
    {{/if}}
  </div>
</div>

<!-- This is the form for updating a blog. According to MVC framework, what is this form responsible for? -->
<!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
<!--What isn't it responsible for? -->
<!--It is not responsible for data-related logic, requests, or business-logic. -->

<div class="edit-blog-container">
  <h2>
    Update blog
  </h2>
  <form class="edit-blog-form">
    <label for="blog_name">
      Blog Name:
    </label>
    <br />
    <textarea id="blog_name" name="blog_name" rows="2" cols="30">
      {{blog_name}}
    </textarea>
    <br />
    <label for="description">
      Description:
    </label>
    <br />
    <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
    <br />
    <label for="user_name">
      User Name:
    </label>
    <br />
    <textarea id="user_name" name="user_name" rows="2" cols="30">
      {{user_name}}
    </textarea>
    <br />
    <br />
    <input type="checkbox" id="for_sale" name="for_sale" value="true" />
    <label for="for_sale">
      Check box if this is FOR SALE
    </label>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
<script src="/js/edit-blog.js"></script>